.fontyourface-2446{font-family:'gilliusbold';font-style:normal;font-weight:bold;}.fontyourface-3069{font-family:'Open Sans ';font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6,.title_aboutss_cl{font-family:'gilliusbold';font-style:normal;font-weight:bold;}p,div{font-family:'Open Sans ';font-style:normal;font-weight:normal;}
@font-face{font-family:'gilliusbold';src:url(../fontyourface/local_fonts/gilliusbold-normal-bold/GilliusADF-Bold.ttf) format("truetype");font-style:normal;font-weight:bold;}
@font-face{font-family:'Open Sans ';src:url(../fontyourface/local_fonts/Open_Sans_-normal-normal/OpenSans-Regular-webfont.eot);src:url(../fontyourface/local_fonts/Open_Sans_-normal-normal/OpenSans-Regular-webfont.eot%3F) format("embedded-opentype"),url(../fontyourface/local_fonts/Open_Sans_-normal-normal/OpenSans-Regular-webfont.ttf) format("truetype"),url(../fontyourface/local_fonts/Open_Sans_-normal-normal/OpenSans-Regular-webfont.woff) format("woff"),url(../fontyourface/local_fonts/Open_Sans_-normal-normal/OpenSans-Regular-webfont.svg) format("svg");font-style:normal;font-weight:normal;}
